
*.db
*.wdf
*.bat
*.log
*.tcl
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/glbl.v
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xvlog.pb
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.ini
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@not_td.sdb
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@not.sdb
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@nand.sdb
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/xsimSettings.ini
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/xsimk.exe
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/xsim.xdbg
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/xsim.type
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/xsim.svtype
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/xsim.rtti
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/xsim.rlx
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/xsim.reloc
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/xsim.mem
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/xsim.dbg
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/webtalk/usage_statistics_ext_xsim.xml
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/webtalk/usage_statistics_ext_xsim.wdm
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/webtalk/usage_statistics_ext_xsim.html
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/webtalk/.xsim_webtallk.info
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/TempBreakPointFile.txt
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/obj/xsim_1.win64.obj
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/obj/xsim_1.c
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/obj/xsim_0.win64.obj
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/Not_td_behav/Compile_Options.txt
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/xelab.pb
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/webtalk_2680.backup.jou
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/webtalk.jou
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/Not_td_vlog.prj
01/verilog/project_1/project_1.sim/sim_1/behav/xsim/Not_td_behav.wdb
01/verilog/project_1/project_1.xpr
